/* Estilos para la tarjeta */
.card {
  width: 400px;
  height: 500px;
  border: none;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #fff;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

/* Imagen del producto */
.img {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

/* Cuerpo de la tarjeta */
.card-body {
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* ID del producto (opcionalmente oculto) */
.card-body h4 {
  font-size: 0.9rem;
  color: #999;
  display: none; /* Mostrarlo si se requiere */
}

/* Título del producto */
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 8px 0;
  color: #333;
}

/* Precio del producto */
.card-subtitle {
  font-size: 1.1rem;
  color: #007BFF;
  margin: 8px 0;
  font-weight: bold;
}

/* Descripción del producto */
.card-body p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 16px;
}

/* Botón de detalles */
.card-body button {
  padding: 10px 20px;
  color: #413f3f;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: #ffffff00;
  transition: background-color 0.2s ease;
}

.card-body button:hover {
  color: #999;
  background-color: #252525;
  text-decoration: underline;
}

/* Efecto hover en la tarjeta */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
