.navbar{
    display: flex;
    justify-content: space-between !important;
}

.navbar-collapse{
    display: flex;
    justify-content: space-around;
}

.btn{
    background-color: rgba(128, 128, 128, 0);
    color: black;
    border: none;
}

.boton{
    text-decoration: none;
    color: black;
}