.listItem{
    list-style: none;
    width: 400px;
    height: 500px;
}

.listUl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 80%;
  }