.listItem{
    list-style: none;
    width: 400px;
    height: 500px;
}

.listUl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 80%;
  }

.linkeo{
    text-decoration: none;
    color: black;
  }

.linkeo:hover{
    color: #999;
    background-color: #252525;
    text-decoration: underline;
}